{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<footer>
    <section>
        <ul class="socials">
            <li><a href="#" class="fab fa-twitter"></a></li>
            <li><a href="#" class="fab fa-facebook"></a></li>
            <li><a href="#" class="fab fa-linkedin"></a></li>
        </ul>
        <ul class="links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Skillset</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        <p class="legal">© 2024 All rights reserved</p>
    </section>
</footer>