{% load static %}

<header>
  <nav class="navbar shadow bg-body-tertiary">
    <div class="container-fluid">
      <div class="nav_header">
        <a class="img-fluid logo_header" href="/user/home"><img src="{% static 'img/SmileSync_blue.svg' %}"
            alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <img src="{% static 'img/icon_menu.svg' %}" alt="icon" class="navbar-toggler-icon">
        </button>

        <!-- mexer dps daqui -->

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-2">
        </ul>

        <div style="margin-right: 10px;">{{request.user.name|upper}}</div>

        <!-- Atualizar para uma bola cinza -->
          
        <div class="dropdown">
          <button class="fixed-circle-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> <!-- icone de perfil biblioteca awesome-->
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"> 
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
          </ul>
        </div>

        <!-- nao mexer dps -->


      </div>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item mb-1">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <img class="icon-acordion" src="/static/img/icon_dentista.svg" alt="">
                  Dentista
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul class="dropdown-content">
                      <li><a href="{% url "create_dentist_view" %}">Cadastrar Dentista</a></li>
                      <li><a href="{% url "list_dentists_view" %}">Lista de Dentistas</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-1">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <img class="icon-acordion" src="/static/img/icon_empresa.svg" alt="">
                    Empresa
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul class="dropdown-content">
                      <li><a href="{% url "create_company_view" %}">Cadastrar Empresa</a></li>
                      <li><a href="{% url "list_companies_view" %}">Lista de Empresas</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-1">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <img class="icon-acordion" src="/static/img/icon_paciente.svg" alt="">
                    Paciente
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul class="dropdown-content">
                      <li><a href="#">Cadastrar Paciente</a></li>
                      <li><a href="#">Lista de Pacientes</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-1">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <img class="icon-acordion" src="/static/img/icon_planos.svg" alt="">
                    Planos
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul class="dropdown-content">
                      <li><a href="#">Cadastrar Plano</a></li>
                      <li><a href="#">Acessar Planos</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-1">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    <img class="icon-acordion" src="/static/img/icon_relatorio.svg" alt="">
                    Relatórios
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul class="dropdown-content">
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>