{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title%}

{% block content %}
<link rel="stylesheet" href="{% static 'css/odontograma.css' %}">
{%include 'partials/_header.html'%}
<main>
    <div class="container-xxl over-flow-x-scroll">
        <div class="row row-cols-16">

            <div class="col" id="dente-18">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
            <div class="col" id="dente-17">
                <div class="face-dente-cima"></div>
                <div class="face-dente-direita"></div>
                <div class="face-dente-baixo"></div>
                <div class="face-dente-esquerda"></div>
                <div class="quadrado"></div>
            </div>
        </div>
    </div>
        

</main>



{% endblock content %}