footer{
  background-image: url('/static/img/footer.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 16px;
  height: auto;
  padding: 1.5rem;
}


section {
  position: relative;
  padding: 50px 20px;
  color: white;
}

.socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.socials li {
  margin-right: 10px;
}

.socials li:last-child {
  margin-right: 0;
}

.socials a {
  color: white;
  font-size: 24px;
}

.links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.links li {
  margin-right: 15px;
}

.links li:last-child {
  margin-right: 0;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.legal {
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .socials, .links {
      justify-content: center;
  }
}