
#face-dente-cima {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #5386E4;
  position: absolute;
  margin-top: 50px;
}
#face-dente-direita {
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #ca0afa;
  position: absolute;
}
#face-dente-baixo {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #09df3e;
  position: absolute;
}
#face-dente-esquerda {
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent; 
  border-right: 50px solid #ffd000; 
  position: absolute;
  margin-left: 50px;
}

.container.dente {
  position: relative; 
}

.quadrado {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 0, 0);
  position: absolute; 
  top: 25px; 
  left: 36px;
  border: solid 1px black; 
}

.face:hover {
  opacity: 0.5;
}