.screen-odontograma{
  width: 1130px ;
}
.container {
  min-width: 1130px; /* Largura mínima */
}

@media (max-width: 1210px) {
  .screen-odontograma {
    display: none;
  }
  
}
.face-dente-baixo {
  width: 50px;
  height: 15px;
  position: absolute;
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
  background-color: #beddfa;
  margin-top: 45px;
  margin-left: 7px;
  cursor: pointer;
  
  
}

.face-dente-cima {
  width: 50px; 
  height: 15px; 
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 25% 100%);
  background-color: #beddfa;
  position: absolute;
  margin-left: 7px;
  cursor: pointer;
  

}
.face-dente-esquerda {
  width: 15px; 
  height: 50px; 
  background-color: #beddfa;
  clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%);
  position: absolute;
  margin-top: 5px;
  cursor: pointer;
  
}
 .face-dente-direita {
  width: 15px; 
  height: 50px; 
  background-color: #beddfa;
  clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 75%);
  position: absolute;
  margin-left: 49px;
  margin-top: 5px;
  cursor: pointer;
  
  
}
.quadrado {
  width: 33px;
  height: 32px;
  background-color: #ffffff;
  position: relative ; 
  top: 14px; 
  left: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1; 
  cursor: pointer;
} 

.face-dente-baixo:hover {
  background-color: #1B7BF7;
  
}

.face-dente-esquerda:hover {
  background-color: #1B7BF7;
}

.face-dente-cima:hover {
  background-color: #1B7BF7; 
}

.face-dente-direita:hover {
  background-color: #1B7BF7;
}

.quadrado:hover {
  background-color: #1B7BF7;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #ffffff;
}

.white {
  background-color: white;
}
