{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<body>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <!-- Coluna com imagem e descrição -->
            <div class="col-lg-8 position-relative">
                <div class="card overflow-hidden bg-body-tertiary rounded">
                    <div class="card-body p-0">
                        <div class="row gx-8 h-100">
                            <div class="col-md-6 text-center bg-card-gradient left-column">
                                <div class="position-relative p-4 pt-md-5 pb-md-7" data-bs-theme="light">
                                    <div class="z-1 position-relative">
                                    <img src="{% static 'img/SmileSync_name_logo.svg ' %}" alt="Logo" class="img-fluid">
                                    <p class="text-white">Simplificando consultórios e potencializando sorrisos. O seu parceiro digital para um consultório mais eficiente e sorrisos mais saudáveis</p>
                                    </div>
                                </div>
                                <div class="mt-3" style="height: 150px;"></div> 
                                <div class="mt-3 mb-5 mt-md-4 mb-md-5" data-bs-theme="light">
                                    <p class="text-white" >Não tem uma conta?<br>
                                        <a class="text-decoration-underline link-light text-white" href="/user/register">criar conta</a></p>
                                </div>
                            </div>
                            <!-- Coluna com formulário de login -->
                            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                                <div class="p-4 p-md-5">
                                    <div class="row flex-between-center d-flex justify-content-center align-items-center">
                                        <div class="col-auto text-center">
                                            <img src="{% static 'img/logo_dente.svg ' %}" alt="" class="img-fluid" style="max-width: 80px; margin-bottom: 10px; margin-left: -8px;">
                                            <h3 class="mb-4">Login</h3>
                                        </div>
                                    <form action="{% url "login_view" %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            {{form.email}}
                                            <label for="{{ form.email.id_for_label }}">Email</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            {{form.password}}
                                            <label for="{{ form.password.id_for_label }}">Senha</label>
                                        </div>
                                        <div class="mb-3 d-flex justify-content-between">
                                            <div>
                                                <div class="form-check mb-0">
                                                    <input class="form-check-input" type="checkbox" id="card-checkbox" checked="checked">
                                                    <label class="form-check-label mb-0" for="card-checkbox">Remember me</label>
                                                </div>
                                            </div>
                                            <div> 
                                                <a class="fs-10" href="">Esqueceu sua senha?</a>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary w-100" type="submit" name="submit">Login</button>   
                                            <hr>
                                            </div>
                                    </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>    
{% include "partials/_modal_sucess.html" %}
{% include "partials/_modal_erro.html" %}
{% endblock content %}  
